<div class="ui-fluid">
    <div class="ui-g">
        <div class="ui-g-4">
            <div class="card card-w-title">
                <h1>Organisation</h1>
                <div class="ui-g form-group">
                    <div class="ui-g-12 ui-md-4">
                        <span class="md-inputfield">
                            <input id="input" type="text" pInputText/>
                            <label>Name</label>
                        </span>
                    </div>
                </div>
            </div>
            <div class="ui-g-12">
                <!-- Left Side -->
                <div class="card card-w-title">
                    <h1>Spaces</h1>
                    <!--<p-dataGrid [value]="cars2" [paginator]="true" [rows]="9">-->
                    <!--<p-header>-->
                    <!--Org spaces-->
                    <!--</p-header>-->
                    <!--<ng-template let-car pTemplate="item">-->
                    <!--<div style="padding:3px" class="ui-g-12 ui-md-4">-->
                    <!--<p-panel [header]="car.vin" [style]="{'text-align':'center'}">-->
                    <!--<img src="assets/demo/images/car/{{car.brand}}.gif">-->
                    <!--<div class="car-detail">{{car.year}} - {{car.color}}</div>-->
                    <!--</p-panel>-->
                    <!--</div>-->
                    <!--</ng-template>-->
                    <!--</p-dataGrid>-->
                </div>
            </div>

            <div class="card card-w-title">
                <h1>Space</h1>
                <div class="ui-g form-group">
                    <div class="ui-g-12 ui-md-2">
                        <label for="input">Name</label>
                    </div>
                    <div class="ui-g-12 ui-md-4">
                        <span class="md-inputfield">
                            <input id="input" type="text" pInputText/>
                            <label>Org name</label>
                        </span>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
